body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: green;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

li {
    padding: 30px 30px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 30px;
}

@media screen and (max-width: 600px)
{
    ul {
        flex-direction: line;
        align-items: center;
    }

    li {
        padding: 10px 0;
    }
}